<a href="https://colab.research.google.com/github/AliyulHim-a11y/KKA-X-SEMESTER-1/blob/main/2_Tipe_Variabel_Aliyul_Himam_As_X_11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Nama: Aliyul Himam As

Kelas: X-11

No. Absen: 5

#Konsep Dasar Variabel

In [ ]:
print("Shintahanafiaa.2025@gmail.com")
print("Shintahanafiaa.2025@gmail.com")
print("Shintahanafiaa.2025@gmail.com")

Shintahanafiaa.2025@gmail.com
Shintahanafiaa.2025@gmail.com
Shintahanafiaa.2025@gmail.com

In [ ]:
email_user_1 = "Shintahanafiaa.2025@gmail.com"

print(email_user_1)
print(email_user_1)
print(email_user_1)

Shintahanafiaa.2025@gmail.com
Shintahanafiaa.2025@gmail.com
Shintahanafiaa.2025@gmail.com

##Peraturan Penamaan Variabel

In [ ]:
#Hanya diperbolehkan menggunakan huruf, angka, dan underscore
email user 2 = "bobbyaliando@gmail.com"

print(email user 2)

SyntaxError: invalid syntax (ipython-input-2842880072.py, line 2)

In [ ]:
emailuser2 = "bobbyaliando@gmail.com"

print(emailuser2)

bobbyaliando@gmail.com

In [ ]:

#tidak boleh didahului oleh angka
3_email_user = "willytaulany@gmail.com"

SyntaxError: invalid decimal literal (ipython-input-539935206.py, line 2)

In [ ]:
email_user_3 = "willytaulany@gmail.com"

print(email_user_3)

willytaulany@gmail.com

In [ ]:
#tidak boleh menggunakan kata kunci pyton
for = "HimamHimawan@gmail.com"

print(for)

SyntaxError: invalid syntax (ipython-input-2955962794.py, line 2)

In [ ]:
For = "HimamHimawan@gmail.com"

print(For)

HimamHimawan@gmail.com

In [ ]:
print = "Juliawati@gmail.com"

print(print)

TypeError: 'str' object is not callable

In [ ]:
Print = "Juliawati@gmail.com"

print(Print)

Juliawati@gmail.com

In [ ]:
#tidak error tapi dianjurkan harus deskriptif
_ = "Devandraarnoldi@gmail.com"

In [ ]:
print(_)

Devandraarnoldi@gmail.com

#Assignment

In [ ]:
#Single assignmen
nama_mahasiswa_1 = "Alexandrio"

print(nama_mahasiswa_1)

Alexandrio

In [ ]:
#Multiple Assignmen

# nama_barang_1 = "Rinso"
# nama_barang_2 = "Molto"

nama_barang_1, nama_barang_2 = "Rinso", "Molto"

print(nama_barang_1)
print(nama_barang_2)

Rinso
Molto

In [ ]:
#Assignment yang sama
nilai_devandra = nilai_willy = nilai_zaki = 100

print(nilai_devandra)
print(nilai_willy)
print(nilai_zaki)

100
100
100

In [ ]:
#menimpa/mengubah nilai variabel

nilai_himam =95

In [ ]:
print(nilai_himam)

95

In [ ]:
nilai_himam = 100

In [ ]:
print(nilai_himam)

100

#Penggunaan Operator di Pyton

In [ ]:
#Tanpa Variabel
print(20+3)

23

In [ ]:
#Operasi disimpan ke dalam variabel
roti_swiss_alex = 20
roti_swiss_nazril = 3

print(roti_swiss_alex + roti_swiss_nazril)

23

In [ ]:
#hasil operasi disimpan ke dalam variabel
jumlah_roti_swiss = 20+3

print(jumlah_roti_swiss)

23

In [ ]:
#Operasi dan hasil operasi disimpan ke variabel
roti_swiss_alex = 20
roti_swiss_nazril = 3

jumlah_roti_swiss = roti_swiss_alex + roti_swiss_nazril

print(jumlah_roti_swiss)

23

SOAL

Satu kardus berisi 24 botol minum. Jika ada 3 kardus, berapa jumlah botol?

Kerjakan dengan empat cara berbeda berikut:

1. Hitung jumlah botol langsung di print ()
2. Simpan hasil perkalian (24 Ã— 3) ke variabel total_jumlah_botol lalu tampilkan dengan print
3. Simpan angka 24 ke variabel banyak_botol_per_kardus dan angka 3 ke variabel jumlah_kardus, lalu tampilkan perkaliannya langsung di print()
4. Simpan angka 24 ke variabel banyak_botol_per_kardus dan angka 3 ke variabel jumlah_kardus, lalu simpan Hasil perkaliannya ke variabel total_jumlah_botol, kemudian tampilkan dengan print()

In [ ]:
#jawaban nomer 1
print(24*3)

72

In [ ]:
#jawaban nomer 2
total_jumlah_botol = 72

print(total_jumlah_botol)

72

In [ ]:
#jawaban nomer 3
banyak_botol_per_kardus = 24
jumlah_kardus = 3

print(24*3)

72

In [ ]:
#jawaban nomer 4
banyak_botol_per_kardus = 24
jumlah_kardus = 3
total_jumlah_botol = 72

print(total_jumlah_botol)

72

#Operator Aritmatika

In [ ]:
buku_tulis_himam = 55
buku_tulis_fico= 15

In [ ]:
#penjumlahan
total_buku_tulis = buku_tulis_himam + buku_tulis_fico

print(total_buku_tulis)

70

In [ ]:
#pengurangan
total_buku_tulis = buku_tulis_himam - buku_tulis_fico

print(total_buku_tulis)

40

In [ ]:
#perkalian
jumlah_kardus_buku_tulis = 3
isi_buku_tulis_perkardus = 10
total_buku_tulis = jumlah_kardus_buku_tulis * isi_buku_tulis_perkardus

print(total_buku_tulis)

30

In [ ]:
#pembagian
jumlah_anak_yatim = 9
jumlah_buku_tulis_tiap_anak = total_buku_tulis / jumlah_anak_yatim

print(jumlah_buku_tulis_tiap_anak)

3.3333333333333335

In [ ]:
#pembagian bulat
jumlah_anak_yatim = 9
jumlah_buku_tulis_tiap_anak = total_buku_tulis // jumlah_anak_yatim

print(jumlah_buku_tulis_tiap_anak)

3

In [ ]:
#sisa bagi
sisa_buku_tulis = total_buku_tulis % jumlah_anak_yatim

print(sisa_buku_tulis)

3

In [ ]:
#perpangkatan
sisi = 5
luas_persegi = sisi ** 2

print(luas_persegi)

25

In [ ]:
luas_persegi